.features_area {
    background-color: #100e17;
    padding-left: 160px;
    padding-right: 160px;
    padding-bottom: 80px;
    font-family: 'Press Start 2P', cursive;
}
.features_area .up_info .title {
    color: #fc2d2d;
    font-size: 15px;
    padding-bottom: 10px;
}
.features_area .up_info p {
    color: #f0ebeb;
    font-size: 8px;
    line-height: 13px;
}
.features_area .sub_title {
    color: #fc2d2d;
    font-size: 13px;
}
.features_area .detail {
    color: #fff;
    font-size: 9px;
}
.features_area .card {
    background-color: #202230;
    border: 1px solid #85031b;
}
.features_area .card .one {
    color:#fc2d2d;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
}
.features_area .card .one span {
    color:#fff;
}
.features_area .card .two {
    color:#fff;
    text-align: left;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
}
.features_area .card .two span {
    color:#fc2d2d;
}
.features_area .card p{
    color:#f7ecec;
    text-align: left;
    font-size: 8px;
}
.features_area .card .custom1 {
    width: 150px;
    height: 146px;
    margin: 0 auto;
}
.features_area .card .custom2 {
    height: 142px;
}
.features_area .card .custom3 {
    width: 150px;
    height: 135px;
    margin: 0 auto;
}










/* responsive code */
@media (min-width: 1281px) {
    .container {
        max-width: 1920px !important;
    }    
}

@media (min-width: 320px) and (max-width: 600px) {
    .features_area {
        padding-left: 20px;
        padding-right: 20px;
    }
}












