.navbar-toggler {
    color: #fc2d2d !important;
    background: #fc2d2d !important;
}
.navbar_area {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #000;
    font-family: 'Press Start 2P', cursive;
}
.navbar_area ul {
    margin: 0 auto;
}
.navbar_area ul a {
    color: #fc2d2d !important;
    font-weight: 500;
    font-size: 10px;
}
.navbar_area .social_area {
    display: flex;
    align-items: center;
}
.navbar_area .social_area a {
    padding: 0 10px;
    color: #fc2d2d;
}
.navbar_area .social_area button {
    background: linear-gradient(to right, #ff8652 , #e74663);
    border-radius: 0%;
    margin-left: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 10px;
}
