.navbar-toggler {
    color: #fc2d2d !important;
    background: #fc2d2d !important;
    padding: 5px 7px;
    font-size: 18px;
}
.navbar_area {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #000;
    font-family: 'Press Start 2P', cursive;
}
.navbar_area ul {
    margin: 0 auto;
}
.navbar_area ul a {
    color: #fc2d2d !important;
    font-weight: 500;
    font-size: 10px;
}
.navbar_area .social_area {
    display: flex;
    align-items: center;
}
.navbar_area .social_area a {
    padding: 0 10px;
    color: #fc2d2d;
}
.navbar_area .social_area button {
    background: linear-gradient(to right, #ff8652 , #e74663);
    border-radius: 0%;
    margin-left: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 10px;
}



/* responsive code */
@media (min-width: 1281px) {
    .container {
        max-width: 1920px !important;
    }    
}

@media (min-width: 320px) and (max-width: 600px) {
    .navbar_area .social_area a {
        padding: 0 5px;
    }
    .navbar_area .social_area a svg {
        font-size: 22px;
    }
    .navbar_area .social_area button {
        margin-left: 10px;
    }
}
